.basic {
    color: #02863FF;
    font-family: arial;
    text-align: center;
}

.pic {
    width: 100px;
    length: 100px;
}

.invisiblePic {
    visibility: hidden;
}

.visiblePic {
    visibility: visible;
}

.background {
    background: url(mountain.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 1000px
}

.center {
    text-align: center;
}

.stayput{
    position: fixed;
    top: 850px;
    width: 100%;
}