.basic-pink {
    color: #FF69B4;
    font-family: verdana;
    font-size: 35px;
    margin-left: 50px;
    text-align: left;
}

.basic-blue {
    color: #00ccff;
    font-family: verdana;
    font-size: 35px;
    margin-left: 50px;
    text-align: left;
}

.basic-yellow {
    color: yellow;
    font-family: verdana;
    font-size: 35px;
    margin-left: 50px;
    text-align: left;
}

.big {
    color:#ffffff;
    font-family: futura;
    text-align:left;
    font-size: 150px;
    margin-top: -10px;
    margin-left: 20px;
}

.pic {
    width: 100px;
    length: 100px;
}

.largepic{
    width: 200px;
    length: 200px;
}

.invisiblePic {
    visibility: hidden;
}

.visiblePic {
    visibility: visible;
}

.background {
    background: url(mountain.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 1000px
}

.center {
    text-align: center;
}

.stayput{
    position: fixed;
    top: 1025px;
    width: 100%;
}

.logosize{
    width: 85px;
    length: 85px;
    hspace: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-location{
    position: fixed;
    width: 200px;
    length: 200px;
    right: 40px;
    top: -35px;


}
