.basic-white {
    color: white;
    font-family: verdana;
    font-size: 38px;
    margin-left: 50px;
    text-align: center;
}

.big {
    color:#ffffff;
    font-family: futura;
    text-align:center;
    font-size: 175px;
    margin-top: 225px;
    margin-left: -25px;
    }

.pic {
    width: 100px;
    length: 100px;
}

.largepic{
    width: 200px;
    length: 200px;
}

.invisiblePic {
    visibility: hidden;
}

.visiblePic {
    visibility: visible;
}

.background {
    background: url(mountain.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 1000px
}

.center {
    text-align: center;
}

.stayput{
    position: fixed;
    top: 650px;
    width: 100%;
}

.logosize{
    width: 125px;
    length: 125px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
}

.menu-location{
    position: fixed;
    width: 200px;
    length: 200px;
    right: 40px;
    top: -35px;


}
